[submodule "Software/Produkt/external/googletest"]
	path = Software/Produkt/external/googletest
	url = https://github.com/google/googletest.git
[submodule "Software/Produkt/external/imgui"]
	path = Software/Produkt/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Software/Produkt/external/glfw"]
	path = Software/Produkt/external/glfw
	url = https://github.com/glfw/glfw.git
