# Visual Studio
.vscode/
*.sln
*.user

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Linker files
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debugger Files
*.pdb
*.dwo

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
