[submodule "Software/Produkt/external/googletest"]
	path = Software/Produkt/external/googletest
	url = https://github.com/google/googletest.git
[submodule "Software/Produkt/external/imgui"]
	path = Software/Produkt/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Software/Produkt/external/glfw"]
	path = Software/Produkt/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Software/Produkt/external/glm"]
	path = Software/Produkt/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "Software/Produkt/external/tinyobjloader"]
	path = Software/Produkt/external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "Software/Produkt/external/optionparser"]
	path = Software/Produkt/external/optionparser
	url = https://github.com/jarro2783/cxxopts.git
[submodule "Software/Produkt/external/stduuid"]
	path = Software/Produkt/external/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "Software/Produkt/external/stb"]
	path = Software/Produkt/external/stb
	url = https://github.com/nothings/stb
[submodule "Software/Produkt/external/json"]
	path = Software/Produkt/external/json
	url = https://github.com/nlohmann/json
