# Checks
# Ausschlüsse können mit - vorgenommen werden
Checks: >
  -*,
  cppcoreguidelines-*,
  modernize-*,
  bugprone-*,
  performance-*,
  cert-*,
  gsl-*,
  clang-analyzer-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-auto,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type
#TODO Activate WarningsAsErrors after building googletest
WarningsAsErrors: "*"
# Only check own headers
HeaderFilterRegex: '^(src|include)/'
# Format-info from .clang-format.yml
FormatStyle: file
