name: Continuous Integration

on:
  push:
    branches:
      - '*'   # triggers on pushes to any branch (pushes to feature branches in pull requests + master when pull request is merged)
    # paths:
    #   - 'Software/**' # triggers only if changes in folder Software


jobs:
  build:
    name: Build, clang-tidy & Test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30 
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: Checkout repository with submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies (Windows)
      if: runner.os == 'Windows'
      shell: powershell
      run: |
        choco feature enable -n allowGlobalConfirmation

        # Check if ninja is installed
        if (-not (Get-Command ninja -ErrorAction SilentlyContinue)) {
          Write-Output "::debug::Installing ninja..."
          choco install -y ninja
        }
        # Check if llvm is installed
        if (-not (Get-Command clang -ErrorAction SilentlyContinue)) {
          Write-Output "::debug::Installing clang..."
          choco install -y llvm
        }
        # Check if cmake is installed
        if (-not (Get-Command cmake -ErrorAction SilentlyContinue)) {
          Write-Output "::debug::Installing cmake..."
          choco install -y cmake
        }
        # Check if git is installed
        if (-not (Get-Command git -ErrorAction SilentlyContinue)) {
          Write-Output "::debug::Installing git..."
          choco install -y git
        }

        $env:PATH += ";C:\Program Files\LLVM\bin;C:\Program Files\CMake\bin"
        Write-Host "LLVM and CMake installed successfully."

    - name: Install dependencies (Ubuntu)
      if: runner.os == 'Linux'
      shell: bash
      run: |
        sudo apt-get update
        # Check if ninja is installed
        if ! command -v ninja >/dev/null 2>&1; then
          echo "::debug::Installing ninja..."
          sudo apt-get install -y ninja-build
        fi
        # Check if clang-tidy is installed
        if ! command -v clang-tidy >/dev/null 2>&1; then
          echo "::debug::Installing clang-tidy..."
          sudo apt-get install -y clang-tidy
        fi
        # Check if cmake is installed
        if ! command -v cmake >/dev/null 2>&1; then
          echo "::debug::Installing cmake..."
          sudo apt-get install -y cmake
        fi
        # Check if git is installed
        if ! command -v git >/dev/null 2>&1; then
          echo "::debug::Installing git..."
          sudo apt-get install -y git
        fi
        # Check if clang is installed
        if ! command -v clang >/dev/null 2>&1; then
          echo "::debug::Installing clang..."
          sudo apt-get install -y clang
        fi
        # Check if wayland-scanner is installed
        if ! command -v wayland-scanner >/dev/null 2>&1; then
          echo "::debug::Installing wayland-scanner and libwayland-dev..."
          sudo apt-get install -y wayland-protocols libwayland-dev
        fi
        # Check and install libxkbcommon-dev
        if ! dpkg -s libxkbcommon-dev >/dev/null 2>&1; then
          echo "::debug::Installing libxkbcommon-dev..."
          sudo apt-get install -y libxkbcommon-dev
        fi
        # Check if pkg-config is installed
        if ! command -v pkg-config >/dev/null 2>&1; then
          echo "::debug::Installing pkg-config..."
          sudo apt-get install -y pkg-config
        fi
        export PATH="/usr/bin:$PATH"

    - name: Install dependencies (macOS)
      if: runner.os == 'macOS'
      shell: bash
      run: |
        brew update
        # Check if ninja is installed
        if ! command -v ninja >/dev/null 2>&1; then
          echo "::debug::Installing ninja..."
          brew install ninja
        fi
        # Check if llvm is installed
        if ! command -v clang-tidy >/dev/null 2>&1; then
          echo "::debug::Installing llvm..."
          brew install llvm
        fi
        # Check if cmake is installed
        if ! command -v cmake >/dev/null 2>&1; then
          echo "::debug::Installing cmake..."
          brew install cmake
        fi
        # Check if git is installed
        if ! command -v git >/dev/null 2>&1; then
          echo "::debug::Installing git..."
          brew install git
        fi
        export PATH="$(brew --prefix llvm)/bin:$PATH"

    - name: Configure with CMake and Ninja (Windows)
      if: runner.os == 'Windows'
      shell: powershell
      run: |
        cmake -G Ninja -B Software/Produkt/build -S Software/Produkt -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

    - name: Configure with CMake and Ninja (Ubuntu/macOS)
      if: runner.os != 'Windows'
      shell: bash
      run: |
        cmake -G Ninja -B Software/Produkt/build -S Software/Produkt -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

    - name: Run clang-tidy (Windows)
      if: runner.os == 'Windows'
      shell: powershell
      run: |
        # Check only this project: src, include, tests
        $folders = @("Software/Produkt/src","Software/Produkt/include","Software/Produkt/tests")
        foreach ($f in $folders) {
            Get-ChildItem $f -Recurse -Include *.cpp | ForEach-Object {
                clang-tidy $_.FullName --p=Software/Produkt/build
            }
        }

    - name: Run clang-tidy (Ubuntu/macOS)
      if: runner.os != 'Windows'
      shell: bash
      run: |
        find Software/Produkt/{src,include,tests} -name '*.cpp' -print0 | xargs -0 -n1 clang-tidy --p=Software/Produkt/build || true

    - name: Build project (Windows)
      shell: powershell
      if: runner.os == 'Windows'
      run: cmake --build Software/Produkt/build -- -v

    - name: Build project (Ubuntu/macOS)
      if: runner.os != 'Windows'
      shell: bash
      run: cmake --build Software/Produkt/build -- -v

    - name: Run tests - GoogleTest (Windows) 
      shell: powershell
      if: runner.os == 'Windows'
      run: |
        cd build
        ctest --output-on-failure --parallel

    - name: Run tests - GoogleTest (Ubuntu/macOS)
      shell: bash
      if: runner.os != 'Windows'
      run: |
        cd build
        ctest --output-on-failure --parallel
