name: Manual Deployment

on:
  workflow_dispatch:
    inputs:
      version_bump:
        description: 'Level of changes for new version'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major
        
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
    steps:
    - name: Checkout
      id: checkout
      # TODO: Have to use this commit because fetch-tags is not working in main till this is merged to main
      uses: actions/checkout@0548471950d86b19eae6c063105707c831fb5c03
      with:
        fetch-tags: true

    - name: Determine next version
      id: semver
      run: |
        # Try to get the latest tag
        latest_tag=$(git describe --tags --abbrev=0 2>/dev/null || echo "0.0.0")
        echo "Latest tag: $latest_tag"

        next=$(npx semver $latest_tag -i ${{ github.event.inputs.version_bump }})
        echo "New tag: $next"
        echo "next=$next" >> $GITHUB_OUTPUT

    - name: Get latest successful run ID for a branch
      id: get_run
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        workflow_name="Continuous Integration"
        
        json=$(gh run list \
          --repo ${{ github.repository }} \
          --workflow "$workflow_name" \
          --branch "${{ github.ref_name }}" \
          --status "success" \
          --json databaseId,status,conclusion,headBranch)

        dbid=$(echo "$json" | jq -r '.[0].databaseId')

        echo "Run ID: $dbid"
        echo "run_id=$dbid" >> $GITHUB_OUTPUT
        
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        run-id: ${{ steps.get_run.outputs.run_id }}
        path: artifact/run-${{ steps.get_run.outputs.run_id }}
        pattern: ${{ github.event.repository.name }}-*
        merge-multiple: false
    
    - name: Collect binaries
      id: binaries
      shell: bash
      run: |
        echo "Run id: ${{ steps.get_run.outputs.run_id }}"
        cd artifact/run-${{ steps.get_run.outputs.run_id }}

        echo "::debug::$(ls -R .)"
        
        files=$(find . -type f \( -name "prisma++" -o -name "prisma++.exe" \))
        
        if [ -z "$files" ]; then
          echo "::error::Missing binaries"
          exit 1
        fi
        
        echo "Found binaries:"
        echo "$files"
        
        count=$(echo "$files" | grep -c '^')
        if [ "$count" -ne 3 ]; then
          echo "::error::Unexpected count of binaries (Windows, macOS, Linux), found: $count/3"
          exit 1
        fi
        
        files_list=$(echo $files | tr '\n' ' ')
        echo "files=$files_list" >> $GITHUB_OUTPUT
  
    - name: Create Git tag
      run: |
        git tag ${{ steps.semver.outputs.next }}
        git push origin ${{ steps.semver.outputs.next }}

    - name: Create release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release create "${{ steps.semver.outputs.next }}" \
          --title "${{ steps.semver.outputs.next }}" \
          ${{ steps.binaries.outputs.files }}

    - name: Update release notes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        notes="## Release ${{ steps.semver.outputs.next }}\n\nBinaries:\n"

        for f in ${{ steps.binaries.outputs.files }}; do
          # Extract the OS from the parent directory
          os=${$(basename $(dirname "$f"))#*-}
          filename=$(basename "$f")
          # Markdown link to the uploaded asset
          notes+="- [$os: $filename](https://github.com/${{ github.repository }}/releases/download/${{ steps.semver.outputs.next }}/$filename)\n"
        done

        gh release edit "${{ steps.semver.outputs.next }}" --notes "$notes"
